#ar, div#t #ar {
  background: transparent url(./images/ar.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#bcg, div#t #bcg {
  background: transparent url(./images/bcg.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#bib, div#t #bib {
  background: transparent url(./images/bib.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#bs, div#t #bs {
  background: transparent url(./images/bs.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#btn, div#t #btn {
  background: transparent url(./images/btn.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#docs, div#t #docs {
  background: transparent url(./images/docs.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#emp, div#t #emp {
  background: transparent url(./images/emp.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#gft, div#t #gft {
  background: transparent url(./images/gft.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ggn, div#t #ggn {
  background: transparent url(./images/ggn.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ipt, div#t #ipt {
  background: transparent url(./images/ipt.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#l, div#t #l 13 {
  background: transparent url(./images/l13.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#lib, div#t #lib {
  background: transparent url(./images/lib.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#mu, div#t #mu {
  background: transparent url(./images/mu.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#mya, div#t #mya {
  background: transparent url(./images/mya.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#orlydb, div#t #orlydb {
  background: transparent url(./images/orlydb.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#pcn, div#t #pcn {
  background: transparent url(./images/pcn.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#predb, div#t #predb {
  background: transparent url(./images/predb.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ptm, div#t #ptm {
  background: transparent url(./images/ptm.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ptp, div#t #ptp {
  background: transparent url(./images/ptp.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#scc, div#t #scc {
  background: transparent url(./images/scc.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#speed, div#t #speed {
  background: transparent url(./images/speed.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#stp, div#t #stp {
  background: transparent url(./images/stp.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tcn, div#t #tcn {
  background: transparent url(./images/tcn.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tg, div#t #tg {
  background: transparent url(./images/tg.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tl, div#t #tl {
  background: transparent url(./images/tl.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tl_beta, div#t #tl_beta {
  background: transparent url(./images/tl_beta.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tp, div#t #tp 2p {
  background: transparent url(./images/tp2p.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ts, div#t #ts {
  background: transparent url(./images/ts.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#wcd, div#t #wcd {
  background: transparent url(./images/wcd.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#wfm, div#t #wfm {
  background: transparent url(./images/wfm.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#zenet, div#t #zenet {
  background: transparent url(./images/zenet.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}