#ar {
  background: transparent url(./images/ar.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#bcg {
  background: transparent url(./images/bcg.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#bib {
  background: transparent url(./images/bib.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#bs {
  background: transparent url(./images/bs.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#btn {
  background: transparent url(./images/btn.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#docs {
  background: transparent url(./images/docs.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#emp {
  background: transparent url(./images/emp.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#gft {
  background: transparent url(./images/gft.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ggn {
  background: transparent url(./images/ggn.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ipt {
  background: transparent url(./images/ipt.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#l13 {
  background: transparent url(./images/l13.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#lib {
  background: transparent url(./images/lib.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#mu {
  background: transparent url(./images/mu.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#mya {
  background: transparent url(./images/mya.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#orlydb {
  background: transparent url(./images/orlydb.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#pcn {
  background: transparent url(./images/pcn.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#predb {
  background: transparent url(./images/predb.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ptm {
  background: transparent url(./images/ptm.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ptp {
  background: transparent url(./images/ptp.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#scc {
  background: transparent url(./images/scc.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#speed {
  background: transparent url(./images/speed.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#stp {
  background: transparent url(./images/stp.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tcn {
  background: transparent url(./images/tcn.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tg {
  background: transparent url(./images/tg.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tl {
  background: transparent url(./images/tl.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#tp2p {
  background: transparent url(./images/tp2p.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#ts {
  background: transparent url(./images/ts.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#wcd {
  background: transparent url(./images/wcd.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#wfm {
  background: transparent url(./images/wfm.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}
#zenet {
  background: transparent url(./images/zenet.png) no-repeat;  
  background-size: contain;
  width: 16px;
  height: 16px;
}